<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Suma de matrices</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body style="background-color: #222;">
  
  <h1>Multiplicación de matrices.</h1>
  <hr>
  <br>

  <div id="long_m_1">
    <h3>Longitud de la Matriz 1</h3>
    <input id="row-m-1" type="number" placeholder="Filas">
    <input id="col-m-1" type="number" placeholder="Columnas">
  </div>

  <div id="long_m_2">
    <h3>Longitud de la Matriz 2</h3>
    <input id="row-m-2" type="number" placeholder="Filas">
    <input id="col-m-2" type="number" placeholder="Columnas">
  </div>

  
  <div id="matriz-1">
    
  </div><br>
  
  <div id="matriz-2">
    
  </div><br>
  
  <div id="matriz-3"></div><br>
  
  <button id="sumElements" type="submit">Obtener</button>
  
  <button id="multElements">Multiplicar</button>
  
  <div id="messageAlert1"></div>
  <div id="messageAlert2"></div>
  <div id="messageAlert3"></div>
<script src="/js/app.js"></script>
</body>
</html>